<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>This site was created by Namrata. It uses dara from weatherstack.com and mapbox.com</p>
        <img class="portrait" src="/img/img1.jpg">
    </div>
    {{>footer}}
</body>

</html>